/*menu*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 20px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #070707;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #070707;}
.menu-main a.current, .menu-main a:hover{color: #ed600b;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #ed600b;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
/*social*/
.social
{
	position: relative;
	bottom:160px;
	left: 100px;
	width: 170px;
	height: 50px;
}
#phone
{
	width: 370px;
	color: #070707;
	position: relative;
	left: 800px;
	bottom: 50px;
	font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
}
/*logo*/
.NameOfTeam
{
	color: #070707;
	position: relative;
	left:540px;
	font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    width: 250px;
}
/*slider*/
.w3-content .mySlides
{
  border: 4px solid black;
}
/*
.main
{
  background:#ed600b;
}
*/